﻿@model EnterpriseAssignment2.Models.Intervention

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Intervention</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ClientId, "ClientId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClientId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, "Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Type", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @*<div class="form-group">
            @Html.LabelFor(model => model.ProposingUser.Where(p => p.ToString() == User.Identity.Name), "ProposingUser", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProposingUser", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProposingUser, "", new { @class = "text-danger" })
            </div>
        </div>*@
        @*@{ Model.ProposingUser = User.Identity.Name}*@

        <div class="form-group">
            @Html.LabelFor(model => model.LabourRequired, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @Html.EditorFor(model => model.LabourRequired, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LabourRequired, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Client's Intervention List", "List_Client", new { id = Html.ViewContext.RouteData.Values["id"] })
</div>

<script type="text/javascript">
    var url = '@Url.Action("GetDefaultCostAndLabor", "Intervention")';
    $(document).ready(function () {
        $.getJSON(url + "/1", function (response) {
            $('#LabourRequired').val(response.Label);
            $('#Cost').val(response.Cost);
        })
    });
    $('#Type').change(function(){
        $.getJSON(url + "/" + $(this).val(), function (response) {
            $('#LabourRequired').val(response.Label);
            $('#Cost').val(response.Cost);
        })
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
