﻿@model EnterpriseAssignment2.Models.Intervention

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Intervention</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LabourRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabourRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerformedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerformedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecentVisitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecentVisitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemainingLife)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemainingLife)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposingUserObject.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposingUserObject.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalUserObject.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalUserObject.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterventionType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterventionType.TypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to History List", "History", new { id = Model.Client.ClientId }) |
    @Html.ActionLink("Back to Same Client's Intervention List", "List_Client", new { id = Model.Client.ClientId })
</p>
