﻿@model IEnumerable<EnterpriseAssignment2.Models.Intervention>

@{
    ViewBag.Title = "List_Client";
}

<h2>Client's Intervention List</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = Html.ViewContext.RouteData.Values["id"] }) |
    @Html.ActionLink("Back to Client List", "../Client/Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LabourRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerformedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecentVisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemainingLife)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProposingUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovalUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterventionType.TypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LabourRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerformedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecentVisitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemainingLife)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProposingUserObject.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalUserObject.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterventionType.TypeName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.InterventionId }) |
            @Html.ActionLink("Change Quality Information", "Edit", new { id = item.InterventionId }) 
        </td>
    </tr>
}

</table>
