﻿@model IEnumerable<EnterpriseAssignment2.Models.ListCostsbyDistrictViewModel>

@{
    ViewBag.Title = "Total Costs by District";
}

<h2>Total Costs by District</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DistrictName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Labor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Labor)
            </td>
        </tr>
    }

    <tr>
        <th>Total</th>
        <th>@ViewBag.TotalCost</th>
        <th>@ViewBag.TotalLabor</th>
    </tr>

</table>
