﻿@model IEnumerable<EnterpriseAssignment2.Models.UserInfo>

@{
    ViewBag.Title = "Accountant Dashboard";
}

<h2>Accountant Dashboard</h2>
<hr/>
<p>
    @Html.ActionLink("Total Costs by Engineer", "TotalCostsbyEngineer")
</p>
<p>
    @Html.ActionLink("Average Costs by Engineer", "AverageCostsbyEngineer")
</p>
<p>
    @Html.ActionLink("Costs by District", "CostsbyDistrict")
</p>
<p>
    @Html.ActionLink("Monthly Costs for District", "MonthlyCostsbyDistrict")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovableLabour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovableCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovableLabour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovableCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
