﻿@model EnterpriseAssignment2.Models.ListMontlyCostbyDistrictViewModel

@{
    ViewBag.Title = "Montly Cost by District";
}

<h2>Monthly Costs by District</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ChosenDistrict, "District", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ChosenDistrictId", null, htmlAttributes: new { @class = "form-control", onchange = "this.form.submit();" })
                @Html.ValidationMessageFor(model => model.ChosenDistrict.Id, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MontlyCostbyDistrictList.First().YearWithMonth.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontlyCostbyDistrictList.First().YearWithMonth.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontlyCostbyDistrictList.First().Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontlyCostbyDistrictList.First().Labor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.MontlyCostbyDistrictList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.YearWithMonth.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearWithMonth.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Labor)
        </td>
    </tr>
}

</table>
