﻿@model IEnumerable<EnterpriseAssignment2.Models.ListCostsbyEngineerViewModel>

@{
    ViewBag.Title = "Total Costs by Engineer.";
}

<h2>Total Costs by Engineer</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Labor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Labor)
        </td>
    </tr>
}

</table>
