﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    15 Broadway<br />
    Ultimo NSW 2007<br />
    <abbr title="Phone">P:</abbr>
    (02) 9514 2000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:enetcare11@gmail.com">enetcare11@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:enetcare11@gmail.com">enetcare11@gmail.com</a>
</address>