﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ENET CARE</h1>
    <p class="lead">The ENET Care Intervention Monitoring System enables Site Engineers, Managers and Accountant staff to focus on what they do best - helping the people that need it most .</p>
</div>
